{% load static %}



<div class="navigation ">
    <div class="logo">

    </div>
    <div class="navigation-search-container mx-5 my-3 col-md-6 col-lg-6">
        <form class="form-inline" action="{%url 'search_project' %}" method="POST">
            {%csrf_token%}
            <i class="fa fa-search fs-5"></i>
            <input class="form-control mr-sm-2 p-4 fs-3 fw-bold" type="search" placeholder="awwwards." aria-label="Search">

        </form>
        <div class="search-container">
            <div class="search-container-box">
                <div class="search-results">
                </div>
            </div>

        </div>

    </div>

    {% if user.is_authenticated %}
    <div id="register" class="col-md-2 bg-dark py-3 d-none d-sm-block d-sm-none d-md-block d-none ">
        <li><a class="text-white text-decoration-none px-1" href="{%url 'upload_project' %}">SUBMIT YOUR SITE!</a></li>
    </div>

    <li class="nav-item">
        <p class="">
            <a class="nav-link " href=""> <img height="32 " width="32 " alt=" " class="avatar rounded-circle " src=" {{user.profile.image.url}}"></img>
            </a>
        </p>
    </li>

    {% else %}
    <div id="register" class="col-md-1 d-none d-sm-block d-sm-none d-none d-md-none d-lg-block d-md-block bg-light py-3">

        <li class="text-white text-dark text-decoration-none text-bold"><a class="text-dark text-decoration-none fw-bold" href="{%url 'register'%}">Register</a></li>

    </div>
    <div id="register" class="col-md-1 d-none d-sm-block d-sm-none d-none d-md-none d-lg-block d-md-block bg-light py-3">
        <li class="text-white text-dark text-decoration-none text-bold"><a class="text-dark  text-decoration-none fw-bold" href="{%url 'login'%}">Login</a></li>
    </div>
    <div id="register" class="col-md-2 bg-dark py-3 d-none d-sm-block d-sm-none d-md-block d-none ">
        <li><a class="text-white text-decoration-none px-1" href="{%url 'upload_project' %}">SUBMIT YOUR SITE!</a></li>
    </div>{% endif %}



</div>
</div>













<div id="navig" class="container-fluid bg-primary">
    <div id="wrapper">
        <div class="overlay"></div>


        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <p class="text-end px-1"> <span class=""><span id="english" class="fs-6 ">English</span><a class="text-decoration-none fs-5" href="#">CLOSE</a></span>
                        </p>
                    </div>


                </div>



                {% if user.is_authenticated %}

                <li class="nav-item">
                    <p class="">
                        <a class="nav-link " href=""> <img height="32 " width="32 " alt=" " class="avatar rounded-circle " src=" {{user.profile.image.url}}"></img>
                        </a>
                    </p>
                </li>
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="{%url 'account'%}">Profile</a></li>
                <li><a href="{%url 'upload_project' %}">Upload Project</a></li>

                {% else %}
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="{%url 'register'%}">Register</a></li>
                <li><a href="{%url 'login'%}">Login</a></li>
                <li><a href="https://twitter.com/intent/follow?screen_name=erhic18">Join Our Community</a></li>
                <li><a href="{%url 'login'%}">Contact</a></li>
                {% endif%}

            </ul>
        </nav>



        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                     <span class="hamb-top"></span>
                     <span class="hamb-middle"></span>
                     <span class="hamb-bottom"></span>
                     <span class="hamb-right px-5">MENU</span>
                 </button>
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-lg-offset-2">
                        {%block info%} {%endblock info%}
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>





<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><span>Sign in to continue</span> <span class="px-4">Not a member yet?</span> <span class="text-end px-3 fw-bold">Register now</span>
                </small>
                </p>

                <form action="{url 'register'}" class="mb-3" method="POST">


                    {% csrf_token %} {{form}}


                </form>


                <p class="text-center text-info py-2"><small>Forgot your password</small></p>
                <p class="text-start text-dark fw-bold h5  py-2"><small>Or sign in with</small></p>
                <p class=" text-center py-2"><button class="btn-light py-2 px-4 fw-bold mx-2">Google</button>
                    <button class="btn-info px-4 py-2  mx-2 fw-bold text-white">Twitter</button>
                    <button class="btn-primary px-4 py-2  mx-2 fw-bold text-white">Facebook</button></p>



            </div>

        </div>
    </div>
</div>

<!-- Button trigger modal -->