<div class="container-fluid bg-primary">
    <div id="wrapper">
        <div class="overlay"></div>


        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <p class="text-end px-1"> <span class=""><span id="english" class="fs-6 ">English</span><a class="text-decoration-none fs-5" href="#">CLOSE</a></span>
                        </p>
                    </div>


                </div>
                <li><a href="#register">Register/Login</a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#winners">Winners</a></li>
                <li><a href="#nominees">Nominees</a></li>
                <li><a href="#collection">Collection</a></li>
                <li><a href="#academy">Academy</a></li>
                <li><a href="#Professional directory">Professional directory</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#ebook&publication">Ebook &Publications</a></li>
                <li><a href="#jury 2022">Jury 2022</a></li>
            </ul>
        </nav>



        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                     <span class="hamb-top"></span>
                     <span class="hamb-middle"></span>
                     <span class="hamb-bottom"></span>
                     <span class="hamb-right px-5">MENU</span>
                 </button>
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-lg-offset-2">
                        {%block info%} {%endblock info%}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>